<h1>
  <%= @current_user.first_name %>
</h1>

<table>
  <tr>
    <th>
      Name
    </th>

    <th>
      Email
    </th>
  </tr>

  <tr>
    <td>
      <%= @current_user.first_name %>
    </td>
  
    <td>
      <%= @current_user.email %>
    </td>
  </tr>
</table>