<div class="container" style="margin-top: 100px">
  <div class="card">
    <div class="card-header">
      <%= @current_user.first_name %>
    </div>

    <div class="card-body">
      <div class="card-title">
        <%= @current_user.email %>
      </div>
    </div>
  </div>

<div class="row row-cols-2">

  <% if @current_user != nil %>
    <% if @current_user.id == @the_user.id %>
    <div class="col">
      <form action="/edit_user_profile" method="get">
        <button class="btn btn-warning" style="width: 100%; margin-top: 10px"><strong>Edit<Strong></button>
      </form>
    </div>

    <div class="col">
      <form action="/user_sign_out" method="get">
        <button class="btn btn-warning" style="width: 100%; margin-top: 10px"><strong>Sign Out</strong></button>
      </form>
    </div>
    <% else %>
    <% end %>
  <% else %>
  <% end %>

</div>

</div>