INDEX

<h3>
  All Provider
</h3>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Price
    </th>

    <th>
      Link
    </th>
  </tr>

  <% @list_of_providers.each do |provider| %>
  <tr>
    <td>
      <img src="<%= provider.image %>" width="250px">
    </td>

    <td>
      <%= provider.first_name %>
    </td>

    <td>
      <%= provider.price %>
    </td>

    <td>
      <a href="/provider/<%= provider.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>