<h1>
  <%= @the_provider.first_name %>
</h1>

<h3>
  Languages you speak
</h3>

<% if @current_provider != nil %>
  <% if @current_provider.id = params.fetch("path_id") %>
    <form action="/provider/<%= @current_provider.id %>/edit" method="get">
      <button>Edit</button>
    </form>
  <% else %>
  <% end %>
<% else %>
<% end %>

<div>
  <table>
    <% @the_provider.spoken_languages.each do |a_spoken_language| %>

      <tr>
        <td>
          <%= a_spoken_language.language.name %>
        </td>
      <tr>

    <% end %>
  </table>
</div>