PROFILE

<div>
  <table>
    <%# @the_provider.spoken_language.do each |a_language| %>
      <tr>
        <td>
          English<%#= a_language.language.name %>
        </td>
      <tr>

      <tr>
        <td>
          Spanish<%#= a_language.language.name %>
        </td>
      <tr>

      <tr>
        <td>
          Polish<%#= a_language.language.name %>
        </td>
      <tr>
    <%# end %>
  </table>
</div>