<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <nav>
      <div>
        <a href="/">
          Home
        </a>
      </div>

      <div>
        <a href="/provider_sign_up">
          Provider Sign Up
        </a>
      </div>

      <div>
        <a href="/provider_sign_in">
          Provider Sign In
        </a>
      </div>

      <div>
        <a href="/provider_sign_out">
          Provider Sign Out
        </a>
      </div>

    </nav>
    <%= yield %>
  </body>
</html>
